@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: local("Georgia"),
         url("Georgia Regular font.ttf") format("ttf"),
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 700;
    src: local("Georgia"),
         url("georgia bold.ttf") format("ttf"),
}
