*
    margin: 0
    padding: 0
    box-sizing: border-box

button, input
    background: none
    border: none

a
    text-decoration: none

header
    width: 80%
    margin: 0 auto
    border: solid red
    .logo_nav
        display: flex
        justify-content: space-between
        width: 50%
        .nav
            display: flex
            justify-content: space-between
            border: solid
            width: 80%
            a
                font-family: 'Lato'
                font-style: normal
                font-weight: 500
                font-size: 20px
                line-height: 24px
                color: #292929
    .sign_in
        button
            &:nth-child(1)
                font-family: 'Lato'
                font-style: normal
                font-weight: 400
                font-size: 20px
                line-height: 24px
                color: #000000
            &:nth-child(2)
                width: 183px
                height: 51px
                background: #01996D
                border: 1px solid #01996D
                border-radius: 4px
                font-family: 'Lato'
                font-style: normal
                font-weight: 400
                font-size: 20px
                line-height: 25px
                text-align: center
                color: #FFFFFF
